.App {
  text-align: center;
}

.search-results {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
}

.intro-card {
  border-width: 2px;
  border-style: ridge;
  border-color: silver;
  display: block;
  width: 95%;
  margin: auto;
}

form#api_search {
  /* display: flex;
  flex-direction: column; */
}

form.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border-width: 2px;
  border-style: ridge;
  border-color: silver;
  padding: 15px;
  margin: 5px;
  width: 95%;
}

input[id=dropName] {
  border-width: 2px;
  border-style: ridge;
  border-color: silver;
  padding: 15px;
  margin: 5px;
  width: 95%;
}

textarea {
  width: 95%;
  border-width: 2px;
  border-style: ridge;
  border-color: silver;
  display: block;
  margin: auto;
}

select {
  padding: 15px;
  margin: 5px;
  border-width: 2px;
  border-style: ridge;
  border-color: silver;
}

button {
  border-width: 2px;
  border-style: ridge;
  border-color: silver;
  padding: 15px;
  margin: 5px;
}

button.delete_lootbox {
  margin: auto
}

hr {
  width: 75%;
  border-top: 5px;
  color: silver;
  margin: auto;
}

li {
  margin: 15px;
  padding: 10px;
}

.entries {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: auto;
  list-style: none;
}

/* dashboard lootbox display */

section.lootbox_display {
  display: flex;
  flex-direction: column;
}

div.drop_setup {
  display: flex;
  flex-direction: column;
}

ul#lootbox_drops {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items:flex-end; */
  flex-wrap: nowrap;
  overflow: auto;
  list-style: none;
  /* white-space: nowrap; */
  /* margin-left: 200px; */
}

ul#lootbox_drops li {
  display: block;
  /* width: 18%; */
}

/* ul#lootbox_drops li:first-child {
  margin-left: 500px;
} */

li.loot_drop {
  border-width: 2px;
  border-style: ridge;
  border-color: silver;
  display: block;
  /* width: 50%; */
  margin: auto;
  height: 100%;
}

li.loot_drop:first-child {
  margin-left: auto;
}

section.lootbox_search_results {
  display: block;
  width: 100%;
}

ul#lootbox_search_entries {
  display: flex;
  flex-direction: column;
}

section.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-width: 2px;
  border-style: ridge;
  border-color: silver;
  
}



div.App {
  padding-bottom:60px;
}