.App {
  text-align: center;
}

.search-results {
  display: block;
  width: 100%;
  list-style: none;
}

.nav {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
}

.intro-card {
  display: block;
  width: 50%;
  margin: auto;
}

input[type=text] {
  width: 50%;
  border-radius: 5px;
}

li {
  margin: 15px;
  padding: 10px;

  
}

.entries {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

